[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
crccheck = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
build = "*"
twine = "*"
bumpver = "*"

[requires]
python_version = "3"
